.minus-alone-btn {
  margin-top: 15px;
  margin-left: 5px;
  padding: 2px !important;
  background-color: transparent !important;
  border: none;
  border: 1px solid #fff !important;
  color: #000 !important;
  line-height: 20px !important;
  font-size: 15px;
  border-radius: 50%;
}